:root {
    --bg-dark: hsl(336 0% 1%);
    --bg: hsl(300 0% 4%);
    --bg-light: hsl(0 0% 9%);
    --text: hsl(300 0% 95%);
    --text-muted: hsl(300 0% 69%);
    --highlight: hsl(0, 1%, 38%);
    --border: hsl(0 0% 28%);
    --border-muted: hsl(300 0% 18%);
    --primary: hsl(113, 57%, 37%);
    --secondary: hsl(149 41% 62%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
}

body.purple {
    --bg-dark: oklch(0.1 0.09 328);
    --bg: oklch(0.15 0.09 328);
    --bg-light: oklch(0.2 0.09 328);
    --text: oklch(0.96 0.1 328);
    --text-muted: oklch(0.76 0.1 328);
    --highlight: oklch(0.5 0.18 328);
    --border: oklch(0.4 0.18 328);
    --border-muted: oklch(0.3 0.18 328);
    --primary: oklch(0.76 0.18 328);
    --secondary: oklch(0.76 0.18 148);
    --danger: oklch(0.7 0.18 30);
    --warning: oklch(0.7 0.18 100);
    --success: oklch(0.7 0.18 160);
    --info: oklch(0.7 0.18 260);
}

body.violet {
    --bg-dark: hsl(263 100% 5%);
    --bg: hsl(268 100% 8%);
    --bg-light: hsl(269 81% 12%);
    --text: hsl(260 100% 100%);
    --text-muted: hsl(261 59% 77%);
    --highlight: hsl(266 48% 49%);
    --border: hsl(269 66% 36%);
    --border-muted: hsl(275 100% 20%);
    --primary: hsl(263 100% 82%);
    --secondary: hsl(69 97% 38%);
    --danger: hsl(7 94% 66%);
    --warning: hsl(53 100% 24%);
    --success: hsl(163 100% 26%);
    --info: hsl(217 100% 70%);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

nav {
    max-width: 100vw;
}

nav.flex {
    height: 3.5rem;
    position: sticky;
    top: 0;
    margin-bottom: 3px;
    justify-content: space-around;
    z-index: 99;
    background-color: var(--bg-dark);
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 40vw;
    margin-right: 5px;
}

.searchbar {
    display: flex;
    align-items: center;
    background-color: var(--bg-light);
    width: max-content;
    border: 2px solid var(--border-muted);
    border-radius: 20px;
    gap: 3px;
    padding: 4px 12px 4px 12px;
}

.searchbar img {
    width: 24px;
}

.search-icon {
    filter: invert();
}

.searchbar input {
    background-color: transparent;
    width: 300px;
    border: none;
    outline: none;
    color: var(--text);
    margin-left: 4px;
}

.searchbar:hover {
    border-color: var(--border);
    transition: border-color 0.1s ease-in;
}

.searchbar:focus-within {
    border-color: white;
    transition: border-color 0.1s ease-in;
}

.searchbar input:hover::placeholder,
.searchbar input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.folder-icon {
    padding-inline: 12px 4px;
    -webkit-border-start: 1px solid var(--text-muted);
    border-inline-start: 1px solid var(--text-muted);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5px;
}

.nav-link {
    color: var(--text-muted);
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.85;
    transition: opacity 0.2s;
    padding: 0 2px;
}

.nav-link:hover {
    opacity: 1;
    color: var(--text);
}

.separator {
    width: 2px;
    height: 20px;
    background: var(--text);
    margin: 0 10px;
    display: inline-block;
    border-radius: 1px;
}

.login-btn {
    margin-left: 10px;
    padding: 6px 22px;
    background: var(--text);
    color: var(--bg-dark);
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.18s, color 0.18s;
    box-shadow: 0 1px 4px rgba(10, 10, 10, 0.03);
}

.left {
    background-color: var(--bg-dark);
    height: 88vh;
    min-width: 25vw;
    transition: transform 0.6s linear; 
}

.left.m-1 {
    margin-left: 5px;
}

.left span img {
    width: 20px;
}


.left .library-top.flex {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: 600;
    font-family: sans-serif;
}

.library-top {
    background: var(--bg-light);
    border-radius: 5px;
    height: 28px;
}

.left {
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;              
    right: 0;             
    padding: 12px;
    background-color: var(--bg-light);
    border-radius: 0 0 5px 5px;  
    box-sizing: border-box;
    min-height: 10vh;      
}

.footer ul {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}


.left .footer ul li {
    max-width: max-content;
    list-style: none;
}

.left .footer ul li a {
    text-decoration: none;
    font-size: 12px;
    color: var(--text-muted);
}

.left .footer ul li a:hover {
    color: var(--text);
}

.footer {
    background-color: var(--bg-light);
    border-radius: 5px;
}

.right {
    position: relative;
    background-color: var(--bg-dark);
    height: 88vh;
    width: 75vw;
}

.right.m-1 {
    margin-right: 5px;
}

.right-header {
    display: flex;
    width: -webkit-fill-available;
    height: 42px;
    padding: 2px;
    margin: 2px;
    background-color: var(--bg-light);
    border: var(--border-muted);
    border-radius: 4px;
    align-items: center;
}

.right-header span {
    font-weight: 600;
    padding: 17px;
    font-family: sans-serif;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    width: -webkit-fill-available;
    background-color: var(--bg);
    height: 72vh;
    border: var(--border-muted);
    border-radius: 4px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-light) var(--bg);
    gap: 10px;
    justify-content: center;
}

.card {
    width: 170px;
    height: max-content;
    margin: 5px;
    background-color: var(--bg-light);
    border: 1px solid var(--border-muted);
    border-radius: 3px;
    font-family: Helvetica, sans-serif;
    padding: 6px 8px 8px 8px;
    transition: transform .16s ease, box-shadow .16s ease, background .12s ease;
    transform-origin: center;
}

.card:hover {
    transform: scale(1.025);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
    background-color: var(--highlight);
    cursor: pointer
}

.card h2 {
    color: var(--text);
    font-size: 13px;
    padding-top: 5px;
}

.card p {
    color: var(--text-muted);
    font-size: 10px;
    padding-top: 5px;
}

.card img {
    object-fit: contain;
    width: 100%;
}

.playbar {
    position: absolute;
    border: 2px solid var(--secondary);
    width: -webkit-fill-available;
    height: 8vh;
    border-radius: 5px;
    bottom: 0;
    background-color: var(--secondary);
}

.left .song-list {
    background-color: var(--bg);
    margin: 5px 0 1px 0px;
    border: var(--border-muted);
    border-radius: 3px;
    height: 70vh;
    overflow-y: scroll;
}

.song-list>ul {
    counter-reset: song-counter;
    /* custom counter */
    padding: 0;
    margin: 0;
    max-width: 42vw;
}

.left>.song-list>ul>li {
    counter-increment: song-counter;
    background-color: hsl(0, 4%, 9%);
    border-radius: 4px;
    margin-top: 2px;
    padding: 10px 14px 10px 50px;
    list-style-type: decimal;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
    transition: transform .12s ease, background .12s ease, box-shadow .12s ease;
    will-change: transform;
}

.song-list>ul>li::before {
    content: counter(song-counter) ".";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text);
    font-weight: 600;
    font-size: 14px;
}


.song-list ul li p {
    color: var(--text-muted);
    font-size: 11px;
    margin-left: 15px;
}

.song-list ul li:hover {
    transform: scaleY(1.01) translateZ(0);
    background-color: var(--highlight);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.song-active {
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    transform: scale(1.0);
    /* border-left: 3px solid var(--secondary); */
    transition: all 0.2s ease;
}

.playbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 11vh;
    border-radius: 5px;
    background-color: hsl(0deg 1.67% 28.04%);
    border: 2px solid hsl(0deg 3.11% 11.76%);

    display: grid;
    grid-template-columns: 1fr auto 1fr;   
    align-items: center;
    padding: 8px 16px 18px;               
    box-sizing: border-box;
    column-gap: 24px;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 14px;
}

.player img {
    width: 20px;
    cursor: pointer;
}

.songinfo {
    max-width: 300px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--bg-dark);
}

.right-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px; 
}

.right-control>.volume>img {
    width: 20px;
    cursor: pointer;
}

.volume {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center
}

.timeinfo {
    font-size: 16px;
    font-weight: 600;
    min-width: 80px;
    text-align: right;
    color: var(--bg-dark);
}

.range input {
    cursor: pointer;
    accent-color: var(--primary);
}

.seekbar {
    height: 4px;
    width: 99%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 3px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: rgb(186 195 189);
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}
.ham{
    display: none;
}

.close{
    display: none;
}
@media screen and (max-width: 1100px) {
    .nav-right a:nth-child(-n + 3) {
        display: none;
    }

    .nav-right span {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .nav-right {
        display: none;
    }

    .nav-left>img:nth-of-type(-n + 2) {
        display: none;
    }

    .nav-left {
        justify-content: center;
        align-items: center;
    }

    .searchbar {
        width: max-content;
    }

    .searchbar input {
        width: 140px;
    }

    .right {
        width: 100% !important;
        transition: width 0.5s linear;
    }

    .hero {
        position: relative;
    }

    .left {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 60vw;
        z-index: 9;
        left: -130%;
        transition: left 0.8s ease;
    }

    .left>.song-list>ul>li{
        width: 45vw;
    }

    .ham{
        display: block;
        width: 20px;
        height: 20px;
        top: 10%;
        position: absolute;
        left: 3%;
        top: 1em;
    }
}


@media screen and (max-width: 1200px) {

    .playbar {
        height: 20vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }


    .songinfo {
        text-align: center;
        max-width: 90%;
        font-size: 13px;
    }


    .player {
        justify-content: center;
        gap: 14px;
    }

    .player img {
        width: 22px;
    }


    .right-control {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    .range input {
        width: 120px;
    }

    .timeinfo {
        font-size: 13px;
        text-align: center;
    }

    .seekbar {
        width: 100%;
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        margin: 0;
    }
}